<div class="container-fluid mt-5">
    <div class="text-center mb-5 fade-in">
        <h1>Character Design</h1>
    </div>
    <div class="row fade-in-delay text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img src={{headImage}} class="head" alt="Face" style="height: 400px;">
            <img src={{topImage}} class="bodyTop" alt="Body Top" style="height: 400px;">
            <img src={{bottomImage}} class="bodyBottom" alt="Body Bottom" style="height: 400px;">
            <img src={{backgroundImage}} class="backgroundImage" alt="Background" style="height: 400px;">
            <!-- <img src={{faceImage}} style="height: 200px; position: absolute;" alt="Face">
            <img src={{topImage}} style="height: 200px; position: absolute; margin-top: 200px;" alt="Body Top">
            <img src={{bottomImage}} style="height: 200px; position: absolute; margin-top: 400px;" alt="Body Bottom"> -->
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="fade-in-delay" style="position: relative; top: 60vh;">

        <div class="d-flex justify-content-around">
            <div class="">
                <h5>Background Color</h5>
                <mat-form-field appearance="outline" class="mb-1">
                    <mat-select (selectionChange)="valueChange($event.value, 3)" [(value)]="selectedBackground"
                        required>
                        <mat-option *ngFor="let top of background" [value]="top.value">
                            {{top.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="">
                <h5>Head Color</h5>
                <mat-form-field appearance="outline" class="mb-1">
                    <mat-select (selectionChange)="valueChange($event.value, 2)" [(value)]="selectedHead" required>
                        <mat-option *ngFor="let top of head" [value]="top.value">
                            {{top.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="">
                <h5>Top Color</h5>
                <mat-form-field appearance="outline" class="mb-1">
                    <mat-select (selectionChange)="valueChange($event.value, 0)" [(value)]="selectedTop" required>
                        <mat-option *ngFor="let top of top" [value]="top.value">
                            {{top.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="">
                <h5>Bottom Color</h5>
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="valueChange($event.value, 1)" [(value)]="selectedBottom" required>
                        <mat-option *ngFor="let bottom of bottom" [value]="bottom.value">
                            {{bottom.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="footer d-flex justify-content-center align-items-center">
        <div class="designed-by">
            Developed with ❤️ by Manan.
        </div>
    </div>
</div>