.fade-in{
    animation: fadeIn 0.5s forwards ease-in-out;
    opacity: 0;
}

.fade-in-delay{
    animation: fadeIn 0.8s forwards ease-in-out;
    opacity: 0;
}

@keyframes fadeIn {
    0%{
        transform: translateY(200%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

.face{
    position: absolute;
    height: 69px;
    z-index: 1;
    left: 45.2%;
    top: 9vh;
}

.bodyTop{
    z-index: 10;
    position: absolute;
    left: 6%;
    // top: 14vh;
    // height: 190px;
}
.bodyBottom{
    z-index: 8;
    position: absolute;
    left: 6%;
    // top: 14vh;
    // height: 270px;
}

.backgroundImage{
    z-index: 1;
    position: absolute;
    left: 6%;
    // top: 14vh;
}

.head{
    z-index: 10;
    position: absolute;
    left: 6%;
    // top: 14vh;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(65, 65, 65);
    color: white;
}

.designed-by{
    color: white;
    font-size: 0.6em;
}